logs
target
/modules
build
node_modules
.env
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/.gradle
/null
/RUNNING_PID
null/
i18n.store
data/
.data/

/conf/evolutions/
/conf/application.conf
/conf/*routes
/db/oidc*
/db/i18n*
/app/mirror
/public/bundles
/db/oidc.*
/db/i18n.*

package.json
package-lock.json

/app/**/TemplateHelper.scala
